<h2>Make one of your own</h2>
<p><b>Create one</b> using the form below and add your tags. When you share it, others will be able to see your tags, and add their own!</p>

<form id="urlForm" class="form-inline" method="post" action="/new" role="form">
    <input type="url" id="urlInput" name="src" placeholder="Paste an image URL" class="form-control"/>
    <input type="submit" class="btn btn-primary" value="Load Image"/>
</form>

<h2 style="margin-top: 15px;">Or, upload an image</h2>
<form id="uploadForm" class="form-inline" method="post" action="/images/upload" enctype="multipart/form-data" role="form">
    <span class="fileWrapper btn btn-success">Upload<input type="file" id="uploadedImage" name="uploadedImage"/></span>
    <div id="uploadError" class="bg-danger" style="display: none;">Only images may be uploaded. Supported image types include:
    <br/>jpg, jpeg, png, gif, bmp</div>
</form>
<script>
    $(function() {
        var uploadForm = $('#uploadForm');
        $('#uploadedImage').change(function() {
            var ext = this.value.match(/\.(.+)$/)[1];
            switch (ext) {
                case 'jpg': case 'jpeg': case 'png': case 'gif': case 'bmp':
                    uploadForm.submit();
                    break;
                default:
                    $('#uploadError').fadeOut(function(){ $(this).fadeIn(); });
                    this.value = '';
            }
        });
    });
</script>