<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tagur</title>
    <meta charset=""utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/tagur.css"/>

    <script src="/js/modernizr.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/jquery.mobile.custom.min.js"></script>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/tagur.js"></script>
    <script>
        $(function() {
            if (Modernizr.touch) {
                $('body').addClass('device');
            }
            var headerMsg = $('#headerMsg');
            $('#headerTag').hover(function(){headerMsg.show()}, function(){headerMsg.hide()});
            var imageContainer = $('#imageContainer');

            function loadTagur(imageJson, imageUrl) {
                $('#caption').hide();
                imageUrl = imageUrl || imageJson[0].src;

                var image = new Image();
                imageContainer.html('<img src="' + imageUrl + '" id="targetImage"/>');

                $(image).on('load', function() {

                    var showShareLinks = function(id) {
                        var sharing = $('<div id="sharing"><b>Share: </b></div>');
                        var shareUrl = 'http://'+window.location.host + '/image/'+id;

                        /* Hook up the share buttons */
                        sharing.append($('<span class="shareFacebook"></span>').click(function() {
                            FB.ui({
                                method: 'feed',
                                link: shareUrl
                            }, function(response) { /* Success */ });
                        }));
                        sharing.append($('<a href="" class="shareTwitter"></a>').mouseover(function(e) { /* Update the twitter share link on hover so it's ready when they click */
                            $(this).attr('href','https://twitter.com/intent/tweet?url='+encodeURIComponent(shareUrl));
                            twttr.widgets.load(); /* Refresh the twitter share link, then reload the widget */
                            e.preventDefault();
                            return false;
                        }));
                        sharing.append($('<a href="" class="shareGoogle"></a>').click(function(e) {
                            window.open('https://plus.google.com/share?url='+encodeURIComponent(shareUrl),
                                    '',
                                    'menubar=no,toolbar=no,resizable=no,scrollbars=no,height=400,width=600');
                            e.preventDefault;
                            return false;
                        }));
                        sharing.append($('<a href="'+shareUrl+'" class="shareLink"></a>'));
                        imageContainer.append(sharing);
                        showShareLinks = function() {}
                    }

                    var commentImage = Tagur.prepare({
                        id: 'targetImage',
                        onCommentAdded: function (comment) {
                            $.post('/image/', {
                                src: commentImage.src,
                                comment: comment.comment,
                                xP: comment.xP,
                                yP: comment.yP
                            }, function (data) {
                                showShareLinks(data._id)
                            });
                        }
                    });

                    if (imageJson.length > 0) {
                        showShareLinks(imageJson[0]._id);
                        var comments = imageJson[0].comments;
                        for (var i = 0; i < comments.length; i++) {
                            var comment = comments[i];
                            commentImage.addComment({
                                xP: comment.xP,
                                yP: comment.yP,
                                comment: comment.text
                            });
                        }
                    }
                });
                image.src = imageUrl;
            }

            loadTagur(
                [{{#image}} {
                            _id: "{{id}}", src: "{{src}}", comments:[ {{#comments}} {
                                xP: {{xP}},
                                yP: {{yP}},
                                text: "{{text}}"
                            } {{^last}} , {{/last}} {{/comments}} ]
                } {{/image}}], '{{#src}}{{src}}{{/src}}');
            $('#caption').show();
        });
    </script>
</head>
<body style="text-align: center">
<header><h1><a href="/">Tagur</a> <div id="headerTag" class="annotationMarker"><div id="headerMsg" class="annotationPopup">Nice to meet you!</div></div></h1></header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p><b>Tagur.io</b> is a tool that allows you to comment directly on an image (jpg, png, even gif!)</p>
        </div>
        <div class="col-md-8 screen">
            {{#home}}<h2 id="caption" style="display: none;">Here's one of our favourites</h2>{{/home}}

            <h3 class="desktop">Click on the image to add tags :)</h3>
            <h3 class="mobile">Press-and-hold to add a tag :)
                <br/><small>(and tap on a tag to read it!)</small></h3>
            <div id="imageContainer">
            </div>
        </div>
        <div class="col-md-4 details">
            {{> forms}}

        </div>
    </div>
    <footer>Built by <a href="https://github.com/ampersandre/tagur">ampersandre</a> in Node.js with Express, Mongoose and Hogan <img src="/images/hogan-icon.png"/></footer>
    <div id="fb-root"></div>
    <script> /* Include the FB API for the social button */
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '243022152568981',
            status     : true,
            xfbml      : true
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
</div>
</body>
</html>