<div class="popup">
    <span class="glyphicon glyphicon-question-sign"></span>
    What is this?
    <span class="explanationContainer">
        <div class="explanation">
            Tagur lets your add comments to images directly where you click.
            Here are some examples of what you can use it for:
            <ul>
                <li><a href="/images/5360798dd299fa214bbfd2a7">Labelling a diagram</a>,</li>
                <li><a href="/images/5361e07bd299fa214bbfd2a8">Explaining a DIY project</a>,</li>
                <li><a href="/images/5355dffad299fa214bbfd28e">Or, just have some fun!</a></li>
            </ul>
        </div>
    </span>
</div>
<div class="row">
    <div class="col-md-4 details">
        {{> form}}
    </div>
    <div class="col-md-8 screen">
        <h2>Check out some images that have recently been Tagur'd</h2>
        <div class="gallery">
            {{#images}}
                <a href="/images/{{_id}}">
                    <img src="{{src}}"/>
                    <span class="count">{{comments.length}}</span>
                </a>
            {{/images}}
        </div>

    </div>
</div>