<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tagur</title>
    <meta charset=""utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:image" content="/images/og.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Graduate|Ropa+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/tagur.css"/>

    <script src="/js/modernizr.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/jquery.mobile.custom.min.js"></script>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/tagur.js"></script>
    <script>
        $(function() {
            if (Modernizr.touch) {
                $('body').addClass('device');
            }
            var headerMsg = $('#headerMsg');
            $('#headerTag').hover(function(){headerMsg.show()}, function(){headerMsg.hide()});
        });
    </script>
</head>
<body style="text-align: center">
{{> header}}
<div class="container">
    <div class="popup">
        <span class="glyphicon glyphicon-question-sign"></span>
        What is this?
        <span class="explanationContainer">
            <div class="explanation">
                Tagur lets your add comments to images directly where you click.
                Here are some examples of what you can use it for:
                <ul>
                    <li><a href="/image/5360798dd299fa214bbfd2a7">Labelling a diagram</a>,</li>
                    <li><a href="/image/5361e07bd299fa214bbfd2a8">Explaining a DIY project</a>,</li>
                    <li><a href="/image/5355dffad299fa214bbfd28e">Or, just have some fun!</a></li>
                </ul>
            </div>
        </span>
    </div>
    <div class="row">
        <div class="col-md-4 details">
            {{> forms}}
        </div>
        <div class="col-md-8 screen">
            <h2>Check out some images that have recently been Tagur'd</h2>
            <div class="gallery">
                {{#images}}
                    <a href="/image/{{_id}}">
                        <img src="{{src}}"/>
                        <span class="count">{{comments.length}}</span>
                    </a>
                {{/images}}
            </div>

        </div>
    </div>
{{> footer}}
</div>
</body>
</html>