<!DOCTYPE html>
<html>
  <head>
    <title>Tagur</title>
    <meta charset=""utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:image" content="/images/og.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Graduate|Ropa+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/vendor/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/vendor/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/tagur.css"/>

    <script src="/js/modernizr.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/jquery.mobile.custom.min.js"></script>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/tagur.js"></script>
    <script>
        $(function() {
            if (Modernizr.touch) {
                $('body').addClass('device');
            }
            var headerMsg = $('#headerMsg');
            $('#headerTag').hover(function(){headerMsg.show()}, function(){headerMsg.hide()});
        });
    </script>
  </head>
  <body style="text-align: center">
    <header>
      <h1>
        <div id="headerTag" class="annotationMarker"><div id="headerMsg" class="annotationPopup">Nice to meet you!</div></div>
        <a href="/">Tagur.</a>
        <small> Comment on an image where you <b class="desktop">click!</b><b class="mobile">tap!</b> <span style="display:inline-block">(jpg, png, even gif!)</span></small>
      </h1>
    </header>
    <div class="container">
      {{{body}}}
    
      <footer>
        Built by <a href="https://github.com/ampersandre/tagur">ampersandre</a> in Node.js with Express, Mongoose and Handlebars <img src="/images/hogan-icon.png"/>
      </footer>
    </div>
    <div id="fb-root"></div>
    <script> /* Include the FB API for the social button */
      window.fbAsyncInit = function() {
          FB.init({
              appId      : '243022152568981',
              status     : true,
              xfbml      : true
          });
      };

      (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>
