.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}
body { background-color: #4E9CB5; margin: 0; font-family: 'Ropa Sans', sans-serif; font-size: 13px; }
header { background-color: #222; color: #FFF; font-weight: bold; padding: 10px 0; }
header .annotationMarker { display: inline-block; margin: 0; position: relative; }
#headerMsg { display: none; color: #000; left: 22px; }
h1 {
  padding: 0;
  margin: 0;
  font-size: 2em;
  a { color: #FFF; font-family: 'Graduate', sans-serif; }
  a:hover { color: #FFF; }
  small b { color: #FFF; display: inline-block; margin-left: 2px;}
}
.container {
  padding-top: 20px;
  background-color: #FFF;
  margin: 0 auto;
  box-shadow: 0 0 4px 0 #79C9FF;
}

#urlInput {
  padding: 5px;
  font-size: 15 px;
  margin: 5px 0;
}
#uploadForm {
  display: inline-block;
  margin-top: 10px;
}
#sharing {
  margin: 10px 0;
  text-align: center;
  b {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    vertical-align: top;
    margin-right: 10px;
  }
  span, a {
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
  }
}
.gallery {
  a {
    display: inline-block;
    width: 30%;
    margin: 10px;
    padding: 10px;
    min-width: 160px;
    background-color: #F1F1FF;
    position: relative;
    img {
      width: 100%;
    }
    span {
      position: absolute;
      top: 0px;
      right: 0px;
      border-radius: 0 0 0 50%;
      background-color: #13C199;
      color: #FFF;
      display: inline-block;
      height: 24px;
      line-height: 24px;
      text-align: center;
      font-weight: bold;
      text-decoration: none !important;
      padding: 0 7px;
    }
  }
  a:hover {
    background-color: #31b0d5;
    span { background-color: #587D5B; }
  }
}
.screen { padding-bottom: 20px; }
.details { text-align: left; }

input[type=file] {
  margin-bottom: 10px;
}
h2 { margin: 0; padding: 0 0 5px; /*color: #4E9CB5;*/ font-size: 1.6em; font-weight: bold; }
h3 { color: #4E9CB5 - #555; font-weight: bold; text-align: center; margin: 0; padding: 3px 0 7px; font-size: 1.4em; }
.mobile { display: none; }
.device .mobile { display: block; }
.device .desktop { display: none; }
.shareTwitter { background: url(/images/twitter-icon.png) 0 0 no-repeat; }
.shareFacebook { background: url(/images/facebook-icon.png) 0 0 no-repeat; }
.shareGoogle { background: url(/images/google-icon.png) 0 0 no-repeat; }
.shareLink { background: url(/images/link-icon.png) 0 0 no-repeat; }
footer {
  line-height: 20px;
  padding: 20px 0;
}