.annotationContainer {
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  display: inline-block;
  width: 100%;
}
.annotationImage {
  width: 100%;
}
.annotationEditor {
  cursor: default;
  position: absolute;
  z-index: 999;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  background-color: #F7F8F9;
  border: 1px solid #C3C3C3;
  font-size: 10px;
  text-align: right;
}
.annotationEditorInput {
  display: block;
  width: 160px;
  padding: 4px;
  margin: 2px;
}
.annotationEditorInputLimit {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-right: 4px;
}
.annotationEditorSave,
.annotationEditorCancel {
  cursor: pointer;
  border: 1px solid #C3C3C3;
  border-radius: 2px;
  padding: 2px 4px;
  color: #999;
  text-align: center;
  background-color: #ddd;
}
.annotationEditorSave:active,
.annotationEditorCancel:active {
  padding: 2px 5px 2px 3px;
}
.annotationMarker {
  cursor: default;
  position: absolute;
  height: 15px;
  width: 18px;
  margin: -7px 0 0 -9px;
  background: url(/images/image-comment.png) 0 0 no-repeat transparent;
}
.annotationMarker.hover,
.annotationMarker:hover {
  background-position: 0 -15px;
}
.annotationPopup {
  position: absolute;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  min-width: 100px;
  max-width: 160px;
  padding: 4px;
  z-index: 998;
  border: 1px solid #111;
  background-color: #F7F8F9;
  font-size: 12px;
}
.annotationPopup:after {
  /*content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;*/
}
/* Bottom Right */
.annotationPopup.br:after {
  /*border-left-color: #FFF;
  border-right: 0;
  bottom: 2px;
  right: -5px;*/
}
/* Bottom Left */
.annotationPopup.bl:after {
  /*border-right-color: #FFF;
  border-left: 0;
  bottom: 2px;
  left: -5px;*/
}
/* Top Right */
.annotationPopup.tr:after {
  /*border-left-color: #FFF;
  border-right: 0;
  top: 2px;
  right: -5px;*/
}
/* Top Left */
.annotationPopup.tl:after {
  /*border-right-color: #FFF;
  border-left: 0;
  top: 2px;
  left: -5px;*/
}
.annotationHoverMessage {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
  padding: 3px;
  border: 1px solid #999;
  color: #555;
  width: 170px;
  height: 25px;
  line-height: 20px;
  z-index: 999;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  overflow: hidden;
}
.annotationContainer:hover .annotationHoverMessage {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
